.floating-promotion{
    position: relative;
    z-index: 1;
}

.picture-container {
    position: relative;
    z-index: 4;
    width: 600px;
    height: 400px;
    overflow: hidden; /* Ocultar exedente de la imagen */
}

.floating-promotion-button{
    position: absolute;
    z-index: 10;
    right: -8px;
    top: -8px;
}

.floating-promotion-title{
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px
}

.picture {
  width: 600px;
  height: 400px; 
  object-fit: cover;
  object-position: bottom;
}

@media(max-width: 768px){
    .picture-container {
        width: 450px;
        height: 350px;
    }
    .picture {
        width: 450px;
        height: 350px; 
    }
}

@media(max-width: 640px){
    .picture-container {
        width: 350px;
        height: 250px;
    }
    .picture {
        width: 350px;
        height: 250px; 
    }
}