.header-promotion{
    position: relative;
    z-index: 1;
}

.header-promotion-title{
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
}

.header-picture-container {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 350px;
    overflow: hidden; /* Ocultar exedente de la imagen */
}

.header-picture {
  width: 100%;
  height: 350px; 
  object-fit: cover;
  object-position: center;
}

@media(max-width: 768px){
    .header-picture-container {
        width: 100%;
        height: 250px;
    }
    .header-picture {
        width: 100%;
        height: 250px; 
    }
}

@media(max-width: 640px){
    .header-picture-container {
        width: 100%;
        height: 150px;
    }
    .header-picture {
        width: 100%;
        height: 150px; 
    }
}